<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}tag/minecraft">Minecraft</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}tag/tech">Técnicos</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">Sobre mí</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about-ikein/">Acerca de Ikeín</a></li>
</ul>
